# MongoDB
MONGO_URI=mongodb://mongo:27017/BelgoData
MONGO_USER=admin
MONGO_PASSWORD=changeme

# Express
PORT_BACKEND=5000
JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=7d

# Flask / AI service
PORT_AI=5001
GROQ_API_KEY=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
FLASK_ENV=development

# Nominatim / Overpass
NOMINATIM_USER_AGENT=ExtracteurB2B-PFE/1.0 (contact: mouhamed.bouzidi.tech@gmail.com)
OVERPASS_URL=https://overpass-api.de/api/interpreter
NOMINATIM_URL=https://nominatim.openstreetmap.org/search

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:5000